* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: red;
    background: url('/assets/images/login_bg.jpg');
    background-size: cover;
}

.loginAndRegBox {
    width: 400px;
    /* height: 270px; */
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titleBox {
    height: 60px;
    background: url('/assets/images/login_title.png') no-repeat center;
}

.reg_box {
    display: none;
}

/* 表单区域 */
.layui-form {
    padding: 0 30px;
}

.links {
    display: flex;
    font-size: 12px;
    justify-content: end;
}

.links a {
    color: #01AAED;
}

.layui-form-item {
    position: relative;
}

.layui-form-item i {
    position: absolute;
    top: 10px;
    left: 10px;
}

.layui-form-item input {
    padding-left: 30px;
}